@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper {
  width: 400px;
  height: 250px;
  margin-top: 80px;
}

input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 2px solid;
  padding-left: 10px;
  -o-border-image: linear-gradient(to right, #a8c0ff 0%, #3f2b96 100%);
  border-image: -webkit-gradient(linear, left top, right top, from(#a8c0ff), to(#3f2b96));
  border-image: linear-gradient(to right, #a8c0ff 0%, #3f2b96 100%);
  border-image-slice: 1;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

input:focus {
  outline: none;
}

#generate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 40px;
  grid-gap: 20px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#a8c0ff), to(#3f2b96));
  background: linear-gradient(to right, #a8c0ff, #3f2b96);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  border: none;
  color: #fff;
  line-height: 53px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

ul {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 50px;
  grid-gap: 20px;
  margin-top: 30px;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #efefef;
  border-radius: 5px;
  -webkit-animation: slideIn 0.4s ease-in-out;
  animation: slideIn 0.4s ease-in-out;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 53px;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translatey(40px);
    transform: translatey(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0);
    transform: translatey(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translatey(40px);
    transform: translatey(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0);
    transform: translatey(0);
    opacity: 1;
  }
}

@media screen and (max-width: 476px) {
  .wrapper {
    width: 90%;
  }
}